Checks:
  -*,
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,

WarningsAsErrors:
  -*,
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
