Checks:
  -*,
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,

WarningsAsErrors:
  -*,
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
