---
name: test
on:
  pull_request:
  push:
    branches:
    - main
env:
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest
        shared:
        - OFF
        - ON
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/github-script@v7
      with:
        script: |
          core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
          core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: seanmiddleditch/gha-setup-ninja@v6
    - run: vcpkg integrate install
#    - uses: pre-commit/action@v3.0.1
#      env:
#        pythonLocation: ${{ matrix.os }}
    - run: cmake -B build \
             -DBUILD_SHARED_LIBS=${{ matrix.shared }} \
             -DCMAKE_TOOLCHAIN_FILE="${{ env.VCPKG_INSTALLATION_ROOT }}scripts/buildsystems/vcpkg.cmake"
    - run: cmake --build build --verbose
