---
name: test
on:
  pull_request:
  push:
    branches:
    - main
env:
  VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg-cache
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest
        shared:
        - OFF
        - ON
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - run: mkdir ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
    - uses: actions/cache@v4
      with:
        path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
        key: vcpkg-${{ runner.os }}-${{ github.run_id }}
        restore-keys: vcpkg-${{ runner.os }}
    - uses: lukka/get-cmake@v4.1.2
    - uses: pre-commit/action@v3.0.1
      if: ${{ matrix.os != 'macos-latest' }}
      env:
        pythonLocation: ${{ matrix.os }}
    - run: cmake -B build -DBUILD_SHARED_LIBS=${{ matrix.shared }}
    - run: cmake --build build --verbose
